@font-face {
	font-family:"sera";
	src:url('fonts/brangrote.otf');
	}
@font-face {
	font-family:"ace";
	src:url('fonts/caecilia.ttf');
	}
	

	
.fit {
	max-width:100%;
	max-height:100%;
}



ul, li {
	font-family:sera;
	white-space: nowrap;
	list-style-type:none;
	padding-top:.2em;
}

nav a {
	display: inline-block;
	width:1%;
	padding:5px;
	color: #666666;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color:;
}

nav {
	letter-spacing:2px;
	display:block;
	float:left;
	clear:both;
	font-size:1em;
	padding:.5em;
	top:0;
	left:0;	
	z-index:9999;
	width:210px;
	min-width:10%;
	height:100%;
	position:fixed;
	background-color:black;
	-webkit-box-shadow: 13px 0px 65px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 13px 0px 65px -15px rgba(0,0,0,0.75);
	box-shadow: 13px 0px 65px -15px rgba(0,0,0,0.75);
}

nav img {
	top:0;
	left:0;
	margin-left:-1.9em;
	margin-top:-1em;
	}
	
#innernav a{
	margin-left:-2.5em;
	left:0;
	width:200px;
	text-align:center;
	}

#body,#contact {
	top:0;
	margin-top:-1.4em;
	padding-top:2em;
	padding-left:5em;
	padding-right:5em;
	height:100%;
	margin-left:220px;
	color:#f2f2f2;
	}

#contact p {
	margin-top:5em;
	text-align:center;
	}
	
#body img {
	width:50%;
	margin-left:25%;
	padding:.5em;
	}
	
#media{
	text-align:center;
	}
	
#catalogimg {
	margin-left:33%;
	width:50%;
	}
	
#logo {
	margin-top:5em;
	width:50%;
	margin-left:33%;
	}

.italic {
	font-style:italic;
	font-weight:bold;
	}

.break {
	height:100px;
	}
	
h1 {
	letter-spacing:2px;
	text-align:center;
	font-weight:normal;
	font-family:sera;
	font-size:1.6em;
	}
	
p,.italic {
	letter-spacing:.5px;
	line-height:1.8em;
	font-size:1.2em;
	font-family:sera;
	}
	
a:hover,a:active {
	color: white;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
			  }


nav a:link {
	color:gray;
	text-decoration:none;
	}
nav a:visited {
	color:gray;
	text-decoration:none;
	}
nav a:hover {
	color:white;
	text-decoration:none;
	}
nav a:active {
	color:gray;
	text-decoration:none;
	}
	
@media screen and (max-width: 1200px) {
#logo {
margin-top:8em;
	width:65%;
	margin-left:35%;
	}
	}
	
@media screen and (max-width: 1000px) {
#body {
	padding:2.5em;
	}
#catalogpic {
	margin-top:6em;
	margin-left:15%;
	}
	}